#users {
    color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 9999991;
    width: 500px;
    height: 600px;
    background: #2b2d31;
    padding: 20px;
    box-shadow: 0 0 16px 0 #00000082;
    padding-bottom: 50px;
}

#users table {
    width: 100%;
    border-collapse: collapse;
}

#users .table-container {
    max-height: calc(100% - 30px);
    overflow: auto;
}
.icon--cancel {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #00000061;
    padding: 10px;
}

.env__row {
    box-shadow: inset 0 -1px 0 0 #ffffff0f;
}

.env__cell {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.country__cell {
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px
}

.user__row {
    background: #8080802e;
    border-top: 1px solid #02020226;
    transition: background 0.25s;
}

.user__row:hover {
    background: rgba(202, 202, 202, 0.18);
}

.user__cell {
    padding: 10px 0 10px 30px;
    cursor: pointer;
}

.action__logout {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15px 25px;
    border: none;
    background: #10101069;
    color: white;
}

.action__login {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 15px 25px;
    border: none;
    background: #ffdb01;
    color: #303030;
}
