body {
    background: white;
}

ul {
    list-style: none;
    width: 200px;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    background: #8080801f;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

li:hover {
    background: rgba(128, 128, 128, 0.26);
}

